  body {
        margin: 0;
        background-color: rgb(0, 1, 10);
      }
/* ============================================= */

      .loginPage{
position: absolute;
top: 0;

/* background-color: rgb(1, 2, 14); */
  background: linear-gradient(135deg, #000913, #011324, #022131);
width: 100vw;
height: 100vh;
z-index: 1;
display: none;
/* =========== */
      }

         .border-Box{
          border-radius: 5px;
          border: 1px solid rgb(213, 213, 213);
          position: absolute;
          top: 25vh;
          left: 30vw;
          background-color: rgba(1, 14, 53, 0.945);
display: flex;
flex-direction: column;
gap: 2vh  ;
width:37vw;
height: 50vh;

animation-name:go-Z-acsis;
animation-duration: 10s;
animation-delay: 1s;
animation-iteration-count: infinite;
transition: all 2s;
         }

              @keyframes go-Z-acsis{
  0% {
    transform: translateZ(0);
  }
  50% {
    transform: scale(1.07) translateZ(50px);
    
    background-color: #2d2c2c2e;
    border: 1px solid #4b4747be;
    border: 1px solid rgb(213, 213, 213);
    box-shadow:0 0 10px rgba(177, 221, 3, 0.913); ;
  }
  100% {
    transform: scale(1) translateZ(0);
  }
}


          .border-Box h1{          
            font-size: 40px;
          margin-left:15.5vw;
           margin-top: 2vh;
           color: rgb(3, 201, 16);
         }

          .border-Box input{
         border-radius: 6px;
          width: 20vw;
          height: 5vh;
           margin-left: 9vw;
         }

          .border-Box button{        
          width: 20vw;
            height: 5vh;
            border-radius: 7px;
          margin-left: 9vw;
          margin-top: 5vh;
          background-color: rgb(0, 227, 15);
         }

         .border-Box label{
         font-size: 17px;
         margin-left: 9vw;
         color: beige;
         }

          .border-Box h5{
         margin-left: 9vw;
          margin-left: 10vw;
          color: beige;
         }

/* ===================dashBord-start======================= */
.dashBord{
position: fixed;
left: 0;
top: 0;
width: 10vw;
height: 100vh;
justify-content: center;
background-color: rgb(1, 1, 27);
border-radius: 10px;
border-radius: 5px;
}


.dashBord .UlConteiner{
  background-color: rgb(7, 13, 90);
  height: 100vh;
display: flex;
flex-direction: column;
justify-content: space-around;
border-radius: 10px;
border: 1px solid rgb(253, 255, 254);


}

.dashBord .UlConteiner li{
  list-style: none;
}

.dashBord .UlConteiner li a{
  text-decoration: none;
}

.dashBord .UlConteiner li a img{
  width:5vw ;
  height: 5vw;
  border-radius: 100%;
}
/* =====================dashbord-End=========================== */

    /* ==============================SectionPages-start================================ */

      section {
        position: fixed;
        background-color: rgb(3, 15, 41);
        top: 0;
        left: 10vw;
        width: 100vw;
        color: aliceblue;
        /* background-color: rgb(226, 202, 123); */
        margin-bottom: 7px;
        height: 100vh;
        width: 98.8vw;
        border:1px solid rgb(255, 252, 247);
        border-radius: 10px;
     
      }

          /* ==============================SectionPages-End================================ */

/* ==============================CustormerPage-content-start================================ */

     /* -----------------------------------Inputfild-said-developmentStart---------------------------------- */

    .mainBoxConteiner{
width: 90vw;
height: 99vh;
 background-color: rgb(0, 0, 48);
border-radius: 10px;
display: flex;



    }


    .mainBoxConteiner .inputFildsDiv{
width: 40vw;
height: 99vh;
 background-color: rgb(0, 0, 48);
border-radius: 10px;


    }

      .mainBoxConteiner .tableDiv{
width: 52.7vw;
height: 99vh;
margin-left: 0.1vw;
 background-color: rgb(0, 0, 48);
border-radius: 10px;


    }


   .mainBoxConteiner .inputFildsDiv .lblAbove{
     font-size: 17px;
     font-style: initial;
      color: rgb(255, 253, 253);
       font-weight: 600;
      

    }

    .mainBoxConteiner .inputFildsDiv .lblUnder{
     
      color: rgb(175, 4, 4);

    }

    .mainBoxConteiner .inputFildsDiv .box{
       display: flex;
      flex-direction: column;
     background-color: rgba(215, 218, 7, 0);
     margin-top: 10vh;
     padding-left:40px;
      

    }

    .mainBoxConteiner .inputFildsDiv{
       display: flex;
      flex-direction: column;
    }

    .mainBoxConteiner .inputFildsDiv h1{
      font-weight: 700;
       margin-left: 40px;
     margin-top: 60px;
     font-size: 40px;
     font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }

    .mainBoxConteiner .inputFildsDiv input{

height: 37px;
width:30vw;
border-radius: 7px;
border: 2px solid green;

    }


  .inputFildsDiv  .buttenBox{
display: flex;
width: 40vw;
background-color: rgba(14, 138, 2, 0);
gap: 0.1vw;
margin-top: 5vh;
    


    }

     .mainBoxConteiner .inputFildsDiv .buttenBox button{

      width: 7vw;
      height: 4vh;
      border-radius: 5px;


    }

    .inputFildsDiv  .buttenBox #savebtnId{
      margin-left: 40px;
    }
    /* -----------------------------------Inputfild-said-developmentEnd---------------------------------- */


    /* -----------------------------------table-said-developmentStart---------------------------------- */

    .tableDiv .tableBox{

      margin-top: 10vw;
      width: 50vw;
      height:700px ;
      background-color: rgb(0, 0, 48);

     }


     .tableBox .tableMain{

      border: 1px solid rgb(9, 204, 2);
width: 50vw;
 height:200px ;

     }

      .tableBox .tableMain .tableHeder{
        background-color: rgb(235, 0, 0);
      }

      .tableBox .tableMain tr{
         border: 1px solid rgb(1, 8, 1);
        
      }

      .tableBox .tableMain tr td{
         border: 1px solid rgba(0, 199, 0, 0.938);
        
      }

       .tableBox .tableMain tr th{
         border: 1px solid rgb(2, 5, 2);
        
      }




    /* -----------------------------------table-said-developmentEnd---------------------------------- */

/* ==============================CustormerPage-content--End================================ */

/* ////////////////////////////////////////////////////////////////////////////// */


/* ==============================Item-content-start================================ */

     /* -----------------------------------Inputfild-said-developmentStart---------------------------------- */

    .ItemSectionmainBoxConteiner{
width: 90vw;
height: 99vh;
 background-color: rgb(0, 0, 48);
border-radius: 10px;
display: flex;



    }


    .ItemSectionmainBoxConteiner .inputFildsDiv{
width: 40vw;
height: 99vh;
 background-color: rgb(0, 0, 48);
border-radius: 10px;


    }

      .ItemSectionmainBoxConteiner .tableDiv{
width: 52.7vw;
height: 99vh;
margin-left: 0.1vw;
 background-color: rgb(0, 0, 48);
border-radius: 10px;


    }


   .ItemSectionmainBoxConteiner .inputFildsDiv .lblAbove{
     font-size: 17px;
     font-style: initial;
      color: rgb(255, 253, 253);
       font-weight: 600;
      

    }

    .ItemSectionmainBoxConteiner .inputFildsDiv .lblUnder{
     
      color: rgb(175, 4, 4);

    }

    .ItemSectionmainBoxConteiner .inputFildsDiv .box{
       display: flex;
      flex-direction: column;
     background-color: rgba(215, 218, 7, 0);
     margin-top: 10vh;
     padding-left:40px;
      

    }

    .ItemSectionmainBoxConteiner .inputFildsDiv{
       display: flex;
      flex-direction: column;
    }

    .ItemSectionmainBoxConteiner .inputFildsDiv h1{
      font-weight: 700;
       margin-left: 40px;
     margin-top: 60px;
     font-size: 40px;
     font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }

    .ItemSectionmainBoxConteiner .inputFildsDiv input{

height: 37px;
width:30vw;
border-radius: 7px;
border: 2px solid green;

    }


 .ItemSectionmainBoxConteiners .inputFildsDiv  .buttenBox{
display: flex;
width: 40vw;
background-color: rgba(14, 138, 2, 0);
gap: 0.1vw;
margin-top: 5vh;
    


    }

     .ItemSectionmainBoxConteiner .inputFildsDiv .buttenBox button{

      width: 7vw;
      height: 4vh;
      border-radius: 5px;


    }

   .ItemSectionmainBoxConteiner .inputFildsDiv  .buttenBox #savebtnId{
      margin-left: 40px;
    }
    /* -----------------------------------Inputfild-said-developmentEnd---------------------------------- */


    /* -----------------------------------table-said-developmentStart---------------------------------- */

   .ItemSectionmainBoxConteiner .tableDiv .tableBox{

      margin-top: 10vw;
      width: 50vw;
      height:700px ;
      background-color: rgb(0, 0, 48);

     }


    .ItemSectionmainBoxConteiner .tableBox .tableMain{

      border: 1px solid rgb(9, 204, 2);
width: 50vw;
 height:200px ;

     }

    .ItemSectionmainBoxConteiner  .tableBox .tableMain .tableHeder{
        background-color: rgb(235, 0, 0);
      }

     .ItemSectionmainBoxConteiner .tableBox .tableMain tr{
         border: 1px solid rgb(1, 8, 1);
        
      }

     .ItemSectionmainBoxConteiner .tableBox .tableMain tr td{
         border: 1px solid rgba(0, 199, 0, 0.938);
        
      }

     .ItemSectionmainBoxConteiner  .tableBox .tableMain tr th{
         border: 1px solid rgb(2, 5, 2);
        
      }




    /* -----------------------------------table-said-developmentEnd---------------------------------- */

/* ==============================Item-content--End================================ */

/* ==========================================Oder-Page-development-Start==================================================== */
.sectionConteiner .inputsMainConteiner{
background-color: #080330;
 /* #04011f; */
border-top-left-radius: 10px;
width: 90vw;
height: 60vh;
display: flex;
justify-content: space-around;

}

.inputsMainConteiner input{
border-radius: 5px;
border-color: aqua;
}

.inputsMainConteiner .abovelbl{
font-size: 20px;
font-weight: 500;
}

.sectionConteiner{
  color: azure;
  display: flex;
  flex-direction: column;
}

.inputsMainConteiner{
  padding-top: 10px;
}

.inputsMainConteiner .invoiceDeatilesBox{
  width: 33vw;
height: 50vh;
background-color: rgb(5, 1, 33);
display: flex;
flex-direction: column;
border-radius: 10px;
box-shadow:0 0 10px rgba(247, 255, 216, 0.514); 
/* margin-bottom: 5vw */
}
.inputsMainConteiner .itemSelectionBox{ width: 33vw;
height: 50vh;
background-color: rgb(5, 1, 33);
display: flex;
flex-direction: column;
border-radius: 10px;
 box-shadow:0 0 10px rgba(247, 255, 216, 0.514); ;
}
.inputsMainConteiner .totleBox{ width: 22vw;
height: 47vh;
background-color:  rgb(5, 1, 33);
display: flex;
flex-direction: column;
border-radius: 10px;
 box-shadow:0 0 10px rgba(247, 255, 216, 0.514); ;
}


.tableConteiner{
background-color: aqua;
width: 90vw;
height: 40vh;
border-bottom-left-radius:10px ;
}

.invoiceDeatilesBox .hederConteiner{
   display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 0px;
width: 33vw;
border-top-left-radius: 10px;
border-top-right-radius: 10px;
border-bottom-left-radius: 2px;
border-top-right-radius: 2px;
height: 50px;
background-color: hsl(226, 94%, 54%);

}

.itemSelectionBox .hederConteiner{
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 0px;
width: 33vw;
border-top-left-radius: 10px;
border-top-right-radius: 10px;
border-bottom-left-radius: 2px;
border-top-right-radius: 2px;
height: 50px;
background-color: hsl(226, 94%, 54%);

}

.invoiceDeatilesBox .box{
 margin-top: 7px;
width: 33vw;
border-radius: 10px;
height: 80px;
border: 1px solid black;
background-color:  rgb(5, 1, 33);
display: flex;
justify-content: center;
align-items: center;

}

.itemSelectionBox .box{
   margin-top: 7px;
width: 33vw;
border-radius: 10px;
height: 80px;
border: 1px solid black;
background-color: rgb(5, 1, 33);

}
/* ------------------------------------------- */
.invoiceDeatilesBox input{
width:12vw ;
height:40px ;

}
/* ---------------------------------- */
  .invoiceDeatilesBox .Onebox{
display: flex;
justify-content: space-around;


   }

  .invoiceDeatilesBox .Onebox .oderIdDiv{
display: flex;
flex-direction: column;
   }

   .invoiceDeatilesBox .Onebox .datePicerclassBox{
display: flex;
flex-direction: column;
   }

   /* ------------------------------------------- */
 .invoiceDeatilesBox .Secoundbox{
display: flex;
justify-content: space-around;


   }

  .invoiceDeatilesBox .custormerIdSelectionBox{

display: flex;
flex-direction: column;

  }
  


  .invoiceDeatilesBox .custormerIdSelectionBox #customerSelectelimentId{
    width:12vw ;
height:40px ;
  }

 .invoiceDeatilesBox .Secoundbox .showCustormerIdinput{
  display: flex;
flex-direction: column;
 }

 .invoiceDeatilesBox .fourthbox #inputCustormerAddress{
 
width:18vw ;
margin-left: 5.7vw;

 }

 .invoiceDeatilesBox .fourthbox #lblAboveId{
margin-left: 5.7vw;
 }



 .therdbox .custormerNameboxclass{
display: flex;
flex-direction: column; 

 }

 .therdbox{
 display: flex;
 justify-content: space-around !important;
 }

  .therdbox .custormerNameboxSalaryclass{

display: flex;
flex-direction: column;

 }
 .fourthbox{

display: flex;
flex-direction: column;
justify-content: flex-start;
padding-right: 16vw !important;
 }


 .fourthbox .custormerAddressboxclass{

  display: flex;
  flex-direction: column;

 }

 .itemSelectionBox .box1{
display: flex;
justify-content: space-between;
align-items: center;
/* width:12vw ;
height:40px ; */
 }

 .itemSelectionBox .box1 #customerSelectelimentId{
width:12vw ;
height:40px ;
 }

.itemSelectionBox .box1 #inputCustormerId{
  width:12vw ;
height:40px ;
}

.itemSelectionBox .box2{
display: flex;
justify-content: space-between;

}


.itemSelectionBox .box2 #inputitemName{
    width:10vw ;
height:40px ;
}

.itemSelectionBox .box2 #inputitemPrice{
    width:10vw ;
height:40px ;
}

.itemSelectionBox .box2 #inputitemQty{
    width:10vw ;
height:40px ;

}

.custormerIdSelectionBox{
  display: flex;
  flex-direction: column;
}
.showCustormerIdinput{
  display: flex;
  flex-direction: column;
}
.itemSelectionBox .box2 .itemQtyClass{
  margin-left: 1vw;

}

.itemSelectionBox #ItemCodeSelectelimentId{
 width:10vw ;
height:40px ;
}

.itemSelectionBox #inputItemCode{
width:20vw ;
height:40px ;
}


.itemSelectionBox .oderqtyClass{
display: flex;
flex-direction: column !important;
}

.itemSelectionBox .oderqtyClass #inputoderqty{
 width:10vw ;
height:40px ;

}

.itemSelectionBox .box4 button{

  width:10vw !important;
height:40px !important;
 margin-right: 1vw;
}

.itemSelectionBox .box4{

 display: flex;
 justify-content: flex-end;
 align-items: center;

}

.totleBox {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.totleBox .box{
   margin-top: 5px;
width: 22vw;
border-radius: 10px;
height: 100px;
border: 1px solid black;
background-color:rgb(5, 1, 33);
display: flex;
justify-content: center;
align-items: center;
}

.totleBox .lableboxs1{

  display: flex;
  flex-direction: column;
  align-items: flex-start;
}


.totleBox .lableboxs2{

  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.totleBox .lableboxs2 #lableNameSubtotleid{

  color: #ce021d;
  font-weight: 500;
  font-size: 25px;
}

.totleBox .lableboxs2 #lableSubtotleid{

  color: #ce021d;
  font-weight: 800;
  font-size: 37px;
}

.totleBox .lableboxs1 #lableNametotleid{

  color: #0801e4;
  font-weight: 500;
  font-size: 25px;
}

.totleBox .lableboxs1 #labltotle{

    color: #0801e4;
  font-weight: 800;
  font-size: 37px;
}
.cashBox{
  gap: 4vw  ;
  justify-content: flex-start !important;
}

.cashBox .cashdiv{
  display: flex;
  flex-direction: column;
  /* background-color: #0cd229; */
  width: 7vw;
}

.cashBox .cashdiv #inputitemCash{

  width: 10vw;
  height: 5vh !important;
  
}

.cashBox .disCountDiv #inputDiscount{

  width: 10vw;
  height: 5vh !important;
  
}

.cashBox .disCountDiv{
  display: flex;
  flex-direction: column;
  /* background-color: #0cd229; */
  width: 7vw;
}

.balansAndButten{
display: flex;
align-items: center;
justify-content: space-around !important;
}

.balansAndButten button{
/* margin-top: px !important; */
width: 7vw;
height: 5vh;
}

.BalansBox #inputBalans{
  width: 10vw;
  height: 5vh 
}


/* ==========================================Oder-Page-development-End====================================================  */